<h1>Incomplete Tasks</h1>

<table>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td>| <%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Complete task', complete_task_path(task), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Completed Tasks', completed_tasks_path %>
